.app-container {
  display: table table-row-group ;
  
}
.menu {
  border-spacing:0cap;
  padding: 5px;

}

.chart-container {
  padding: 5px;
  flex: 1;

}

.chart {
  border: 1px solid #ccc;
  padding: 8px;
  margin-top: 1px;
 
}

.chart h2 {
  margin-bottom: 4px;

}

.ant-menu {
  display: flex;
  width: 150px;  
}




/* 
.sample {
  background-color: lightblue;
  padding: 195px;
  text-align: center;
}
body{  
  background-color:lightblue;
 
}
.dashboard  {
   padding: 1rem;
  text-align: left;
  
}

.Link {
  display: block;
  background-color: lightblue;
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: black;
}


.chart {
  text-align: center;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.select {
  width: 200px;
  margin-bottom: 1rem;
}

.button {
  background-color: blue;
  color: white;
}  */
